---
title: 'New Year for MemphisPHP.org'
date: '2014-01-01 12:15:29'
layout: post
slug: new-year-for-memphisphporg
categories:
    - 'Meet Ups'
    - News
tags: {  }
---
<article class="post type-post status-publish format-standard entry">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
        </h1>
    </header>
    <div class="entry-content">
With the new year we're making changes we hope will make MemphisPHP have an amazing 2014. As you can see we have a brand new website instead of just forwarding to Meetup.com We have a brand new meeting location at <a href="http://maps.google.com/maps?q=Southwest%20Tennessee%20Community%20College%205983%20Macon%20Cove,%20Memphis,%20TN+%28Southwest%20Tennessee%20Community%20College%29&amp;z=17" target="_blank">Southwest Tennessee Community College</a>. We have a brand new Sponsor that started in December <a href="http://www.modernservicesinc.com/" target="_blank">Modern Services, Inc</a> and <a href="http://www.vaco.com/memphis/team/diane-tabulog" target="_blank">Vaco </a>is also continuing to sponsor food at every meet up.

We are also experimenting with a new meet up format. We'll be doing one 30 minute talk and two 15 minute show and tell sessions every meetup. The goal is to see if we can broaden the diversity of speakers AND content that we offer each month. If you would like to speak at MemphisPHP, <a href="mailto:joe@joeferguson.me">let us know</a>!


</div>
{% if post.meta.tags %}
<p class="tags">
    Tags:
    {% for tag in post.meta.tags %}
    <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
</p>
{% endif %}
</article>
