---
title: 'php[tek] Open Spaces - User Groups and Community Building'
date: '2016-05-25 12:47:10'
layout: post
slug: phptek-open-spaces-user-groups
categories:
    - 'Conferences'
    - 'User Groups'
    - 'Community'
tags: {  }
---
<article class="post type-post status-publish format-standard entry">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
        </h1>
    </header>
    <div class="entry-content">
        <h2>php[tek] Open Spaces - User Groups and Community Building</h2>
        <p>
            Open Spaces sessions are very similar to unconference sessions. They are ad hoc sessions where anyone can sign up for a topic and lead a discussion.
        </p>
        <p>
            At my very first php[tek] conference in 2014 <a href="https://twitter.com/dragonbe" target="_blank">Michelangelo van Dam</a> held an Open Spaces
            session about User Groups. As I was already a User Group leader I joined and was excited to be able to speak in person with so many other individuals
            who were also running user groups as well as people interested in starting their own User Groups. Michelangelo and others also did this again in at php[tek]
            2015 and again I participated and was excited to share knowledge about User Groups.
        </p>
        <p>
            At php[tek] 2016 Michelangelo was not able to attend
            so I mentioned doing a User Group session to <a href="https://twitter.com/cspruck" target="_blank">Chris Spruck</a> from AtlantaPHP,
            <a href="https://twitter.com/sammyk" target="_blank">Sammy K.</a> from Chicago PHP, and <a href="https://twitter.com/ramsey" target="_blank">Ben Ramsey</a>
            from Nashvile PHP.
        </p>
        <p>
            Ben Ramsey had the idea of streaming the Open Spaces via google hangouts. Below is the recorded version of our session. I hope you enjoy it as I certainly
            enjoyed being able to host the session. Thanks to everyone that joined us at php[tek], Ben for being our cameraman, and others that watched live and contributed during the event.
        </p>
        <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HH2X5dkmmsI" frameborder="0" allowfullscreen></iframe>
        </p>
        <h2>Notes that Chris Spruck took during the session:</h2>
        <p>
            User Group Leadership Open Spaces
        </p>
        <p>
            Attendees: Chris Spruck (AtlantaPHP), Joe Ferguson (MemphisPHP), Sammy K.
            Powers (Chicago PHP UG), Mark McCollum (St. Louis Full Stack Developers),
            Dave Stokes (North TX MySQL User Group), Cal Evans (Palm Beach PHP UG,
            NomadPHP), Brian Retterer (DaytonPHP), James Titcumb (PHP Hampshire, PHP
            SouthCoast conf), Ben Ramsey (NashvillePHP), Bill Condo (Columbus, OH PHP
            User Group), Matt Turland (Gnocode New Orleans), Jeff Geerling (Ansible and
            Drupal St. Louis), Michael Pickreign (NE PA, looking to start a group),
            Travis Fettig (Palm Beach PHP UG)
        </p>
        <p>
            How do you handle lack of attendance? Joe said that MemphisPHP tries to
            provide quality content, and not just a hack night. He encourages members
            to present, and does more social events (which usually yields better
            response due to the shorter time committment than a full meeting). Dave
            made the point to be aware of time issues and entrance security processes,
            depending on the location. James made the point that lack of attendance
            isn't necessarily bad, and any consistency is good, even if you feel like
            the numbers are low. Chris said that fast/immediate growth isn't urgent.
        </p>
        <p>
            Activities among groups? Cal and others mentioned joint Christmas parties,
            summer BBQs, etc. with multiple groups, and Bill mentioned things like
            Laravel/Wordpress/PHP joint activities. Don't forget about groups that use
            PHP, but are more focused (Drupal, WP, etc.) - opportunity for speaker
            cross-over and softer skills talks that can apply to any developer. Joe
            mentioned "Super User Group meetups" - lightning talks across groups,
            holiday parties, etc. These can be specific to group leaders or involve
            entire groups.
        </p>
        <p>
            Beth Tucker Long (of MadisonPHP, @e3BethT) has "training talks" or some
            kind of material developed to encourage cultivation of conference speakers
            from within her user group.
        </p>
        <p>
            Someone mentioned using a Trello board for group members to suggest talk
            ideas, talks they can present, etc.
        </p>
        <p>
            Consider PHP-adjacent talks and other tech (JavaScript, databases, etc.);
            consider remote presenters or other groups.
        </p>
        <p>
            Look for chances to bring in someone nearby or passing through. Examples:
            Coderabbi was at Laracon (in Kentucky), so Bill from Columbus asked him to
            stay an extra day to present to Columbus PHP (Bill went to pick him up,
            etc.) AtlantaPHP just had an extra "special speaker event", because
            Sebastian Bergmann was in town the week after their regularly scheduled
            meeting.
        </p>
        <p>
            SammyK - summarizes RFC activity for his group, so members can get a taste
            of PHP internals w/o the stress.
        </p>
        <p>
            Alternative formats to consider: Show and Tell nights; test fests; bug fix
            night; pair programming; screencast live coding; "bring your problem", code
            reviews
        </p>
        <p>
            Cal asked "how do you level your content?" for junior vs advanced devs.
            Dave said one of the Dallas groups has a different meeting for junior devs,
            and Boston started a virtual online class for juniors, where people could
            contact more experienced group members for help.
        </p>
        <p>
            It's a good idea for organizers to try to spot new people, to at least say
            hello and make them feel welcome. Name badges are very helpful to break the
            ice, remember names, etc.
        </p>
        <p>
            Do groups have free beer? A few people raised hands and said it's typically
            sponsored by recruiters or third-parties. Some go out after the meeting to
            another location.
        </p>
        <p>
            Try to have the next meeting topic ready to promote in advance, so people
            know what's coming up and can plan accordingly. It definitely helps reduce
            organizer stress to have a few speakers lined up ahead of time, and have
            backup plans for cancellations.
        </p>
        <p>
            How to start a new group? Definitely get on Meetup, as the discoverability
            factor is worth it. Ask attendees to bring new people. Public libraries are
            good for meeting space, as well as banks and other places with a "community
            space". Find local companies with devs, as they can help with space, new
            presenters and attendees, etc. Look at local universities.
        </p>
        <p>
            Dues or fees? Depends on need and scope - some charge per event or special
            event, some have annual dues, most have none. May need to charge for a
            given event to cover expenses to bring in someone from far away.
        </p>
        <p>
            How to handle recruiter spam? Stop it at the source - moderate your mailing
            lists. Be firm, but polite in person and set the expectations for their
            behavior at meetings. Some openly allow recruiters to attend and speak or
            mingle, and others limit it to before or after meetings or at
            after-gatherings. Have solid guidelines for posting to your lists (see
            AtlantaPHP's guidelines at http://atlantaphp.org/jobs/ - feel free to use
            and adapt!)
        </p>
    </div>
    {% if post.meta.tags %}
    <p class="tags">
        Tags:
        {% for tag in post.meta.tags %}
        <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
    {% endif %}
</article>

